.imdbWidget a:focus {
    outline: 0;
}
.histogram-horizontal {
    position: relative;
    height: 100px;
}

.histogram-horizontal .bar.shadow {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.histogram-horizontal .bar {
    background: #ddd;
    position: absolute;
    bottom: 0;
    display: block;
}