.imdb-widget {
    font-family: "Verdana";
    color: black;
    position: relative;
    background-color: #FCFAF0;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #CCB96C;
}

.imdb-widget .imdb-avatar-link {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    position: relative;
}

.imdb-widget .imdb-avatar {
    width: 100%;
    border-radius: 6px;
}

.imdb-widget .imdb-logo {
    max-height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-image: url('imdb-logo.png');
}

.imdb-widget .imdb-info-box {
    display: inline-block;
    width: 53%;
    margin-left: 2%;
    vertical-align: top;
    max-height: 110px; 
    overflow-y: auto;
}

.imdb-widget .imdb-nick {
    font-size: 115%;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    line-height: 100%;
}

.imdb-widget .imdb-member-since {
    font-size: 9px;
    color: black;
    margin-top: 0
}

.imdb-widget .imdb-bio {
    font-size: 70%;
    color: darkgrey;
    margin-bottom: 4px;
}

.imdb-widget .imdb-block {
    margin-bottom: 8px;
}

.imdb-widget .imdb-block-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 85%;
    color: #A58500;
}

.imdb-widget a {    
    color: #136cb2;
}

.imdb-widget .imdb-block-item-title {
    display: inline-block;
    position: relative;
}
.imdb-widget .imdb-block-title-2 {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 3px;
    font-size: 70%;
    color: #A58500;
}

.imdb-widget .imdb-block-item-logo {
    height: 60px;
}

.imdb-widget .imdb-block-item-small-logo {
    height: 20px;
}

.imdb-widget img {    
    border-radius: 2px;
}

.imdb-widget .imdb-widget-small-link {
    font-size: 70%;
    display: block;
    color: #136cb2;
}

.imdb-widget a:focus {
    outline: 0;
}

.imdb-widget .imdb-histogram-horizontal {
    position: relative;
    height: 100px;
}

.imdb-widget .imdb-histogram-horizontal .bar.shadow {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.imdb-widget .imdb-histogram-horizontal .bar {
    background: #ddd;
    position: absolute;
    bottom: 0;
    display: block;
}

.imdb-widget .imdb-histogram-horizontal {
    position: relative;
    height: 100px;
}

.imdb-widget .imdb-histogram-horizontal .bar.shadow {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.imdb-widget .imdb-histogram-horizontal .bar {
    background: #ddd;
    position: absolute;
    bottom: 0;
    display: block;
}

.imdb-widget .imdb-histogram-horizontal .bar:hover {
    background: #99d;
}

.imdb-widget .imdb-badge-info {
    font-size: 10px;
    color: gray;
}

.imdb-widget .imdb-badge-info a span:nth-of-type(1) {
    margin-right: 3px;
    font-weight: bold;
}

.imdb-widget .imdb-histogram-by-year-legend {
    color: #999;
    padding-top: 3px;
    font-size: 9px;
}
.imdb-widget .imdb-histogram-by-year-legend div {
    float: right;
}

.imdb-widget .imdb-histogram-vertical {
    min-width: 260px;
}

.imdb-widget .imdb-histogram-vertical .row {
    clear: left;
    height: 15px;
}

.imdb-widget .imdb-histogram-vertical .count {
    font-family: "Courier New",Courier,monospace;
    font-size: 9px;
    width: 30px;
    text-align: right;
    margin-right: 5px;
}

.imdb-widget .imdb-histogram-vertical .key {
    font-size: 10px;
    width: 80px;
    font-weight: bold;
    text-align: center;
}

.imdb-widget .imdb-histogram-vertical .bar-frame {
    width: 100px;
}

.imdb-widget .imdb-histogram-vertical .bar {
    background: #ddd;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    display: block;
    text-decoration: none;
    color: #eee;
    height: 10px;
}

.imdb-widget .imdb-histogram-vertical .count {
    font-family: "Courier New",Courier,monospace;
    font-size: 9px;
    width: 30px;
    text-align: right;
    margin-right: 5px;
}
.imdb-widget .imdb-histogram-vertical .row >div {
    float: left;
}

.imdb-widget .imdb-widget-icon {
    display: inline-block;
    opacity: 0.7;
    width: 16px;
    height: 16px;
    float: right;
}
.imdb-widget .imdb-widget-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.imdb-widget .imdb-ratings-icon-star {
    padding: 0 5px;
    color: lightgray;
    text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000,  -1px 1px 0 #000,  1px 1px 0 #000;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.imdb-widget .imdb-ratings-charts-message-link {
    background-image: url('message.png');
    float: right;
}

.imdb-widget .imdb-ratings-charts-link {
    background-image: url('chart.png');
    float: right;
}

.imdb-widget .imdb-widget-charts {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border: 1px solid #A58500; 
    border-radius: 6px;
    min-width: 300px;
    padding: 6px;
}

.imdb-widget .imdb-widget-charts-close {
    float: right;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    color: grey;
}

.imdb-widget .imdb-user-lists .imdb-block-item-small-logo {
    margin-right: 6px;
    width: 20px;
}
.imdb-widget .imdb-user-lists .imdb-block-item-title , .imdb-widget .imdb-user-reviews .imdb-block-item-title {
    font-size: 0.7em;
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.imdb-widget .imdb-user-reviews .imdb-user-review-title {
    font-size: 0.8em;
    font-style: italic;
}

.imdb-widget .imdb-user-reviews .imdb-user-reviews-left {
    width: 72px;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}
.imdb-widget .imdb-user-reviews .imdb-user-reviews-right {
    font-size: 0.7em;
}

.imdb-widget .imdb-user-review {
    margin-bottom: 6px;
    border-bottom: 1px solid #ddd;
    overflow-y: auto;
    height: 150px;
}
.imdb-widget .imdb-user-reviews-right span:nth-of-type(2) {
    color: gray;
}
